body,html{
	font-family: sans-serif;
	background-color: white;
	padding: 0;
	
}
.header{
	width: 100%;
	left: 0px;
	right: 0px;
	position:fixed;
	top:0px;
	z-index: 1000;
}

.first-nav{
	background-color: #212f3d ;
    overflow: hidden;
    font-size: 13px;
    
    
  /** white-space: nowrap;**/
}

.first-nav a{
   display: inline-block;
   color: white;
   text-align: center;
   padding:2px 10px;
   text-decoration: none;
}

.first-nav ul  {
	overflow: hidden;
	list-style-type: none;
	display: flex;
	padding-right: 30px;
	float: right;
}

.inner-content{
    color:black;
    padding:10px;
    display: none;
    position: absolute;
    border-style: solid grey;
    background-color: white;
    border-radius: 10px;
    border:0.2px solid snow;
}

.inner-content a{
	color:black;
	padding: 10px;
}

.inner-content li{
	padding-left: 15px;
   background-position: center;
}

.sub-nav:hover .inner-content {
	color:blue;
    display: block;
    display-content:center;
 }

.inner-content a:hover {
  background-color: skyblue;

}

.link-pag{
  color:grey;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 0;
}

.first-span{
	color:white;
}

.second-span{
	color:grey;
}

.third-span{
	color:grey;
}

.second-nav {
	background-color: white;
    overflow: hidden;
    font-size: 13px;
    
  /** white-space: nowrap;**/
}

.second-nav a{
   display: inline-block;
   color: black;
   text-align: center;
   padding:8px 10px;;
   text-decoration: none;
}

.second-nav ul{
	list-style-type: none;
	display: flex;
	float: left;
	padding-left: 30px;
}

.second-content{
	font-size: 14px;
	color:black;
    padding:10px; 
    display: none;
    position: absolute;
    border-style: solid grey;
    background-color: white;
    border-radius: 10px;
    border: 0.2px solid grey;
}

.inner-nav:hover .second-content {
    display: block;
    max-height: 500px;
 }

 .inner-nav:hover > li{
 	color:blue;
 }


.secondinner-content{
	display: flex;
	padding-right: 40px;
}

.second-inner{
	padding: 5px 30px;
}

.innermost-div a:hover{
  background-color: skyblue;
}

h4{
	color:black;
    padding-left: 10px;
}

.third-nav{
	background-color:white;
    overflow: hidden;
    font-size: 13px;
  /** white-space: nowrap;**/
}

.third-nav a{
   display: inline-block;
   color: black;
   text-align: center;
   padding:8px 10px;
   text-decoration: none;
}

.third-nav ul  {
	overflow: hidden;
	list-style-type: none;
	display: flex;
	padding-right: 30px;
	float: right;
}

.third-content{
	color:black;
    padding:10px;
    display: none;
    position: absolute;
    border-style: solid grey;
    background-color: white;
    border-radius: 10px;
    border:0.2px solid grey;
}

.third-inner:hover .third-content {
	color:blue;
    display: block;
    display-content:center;
    max-height:450px; 
 
 }

.third-content a:hover {
  background-color: skyblue;

}

.third-content a{
  padding: 10px;
}

.btn-signin{
	background-color: orange;
	padding:5px 20px;
	border-radius: 30px;
}
.pclass{
	background-color:rgb(192, 255, 192);
	font-size: 15px;
	color:forestgreen;
	text-align: center;
	padding: 7px;
}
.sub-a{
	text-decoration: none;
}
.xclass{
	float: right;
	padding-right: 5px;
}


main{
  left: 0;
  right: 0;
  width:100%;
 }

.container{
   margin:0 auto;
   margin-top: 20px;
   position: relative;
   width: 100%;
   height: 700px;
   
}

.slide_img{
  margin-top: 20px;
  position: absolute;
  width:100%;
  height: 100%;
  padding: 30px 0;
}

.slide_img img{
  width: 100%;
  height: 95%;
}

.pre ,.nxt {
  width: 3%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  cursor: pointer;
}

.pre{
  left: 0;
}

.nxt{
  right:0;
 
}

.nav-lbl{
  width: 100%;
  height: 11px;
  bottom:65px;
  position: absolute;
  text-align: center;
  z-index: 99;
}


.dots{
  top:-5px;
  width: 15px;
  height:15px;
  margin:0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background:rgba(0,0,0,.8);
}

.slide_img{
  z-index: -1;
}

#i1:checked ~ #one ,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five {
  z-index: 9;
}

#i1:checked ~ .nav-lbl #dot1,
#i2:checked ~ .nav-lbl #dot2,
#i3:checked ~ .nav-lbl #dot3,
#i4:checked ~ .nav-lbl #dot4,
#i5:checked ~ .nav-lbl #dot5 {
  background: teal;
}

.slide_img .cont-cap{
  font-size: 45px;
  color:  #2e4053 ;
  padding: 20px 5px;
  margin-bottom: 500px;
  position: absolute;
  top:80px;
  left: 60px;
  width: 100%;
  line-height: 60px;
}

.cont-cap1 h2{
  font-size: 40px;
  line-height: 40px;
}

.slide_img .cont-cap1{
  font-size: 20px;
  color:  #515a5a  ;
  padding: 20px 5px;
  margin-bottom: 500px;
  position: absolute;
  top:120px;
  left: 90px;
  width: 100%;
  line-height: 30px;
  font-weight: 0.8em;
  background: transparent;
}

.btn_class2  a {
  text-decoration: none;
  color: #2e4053;
}

.first-btncap, .second-btncap{
  border-radius: 12px;
  font-size: 20px;
  padding:15px 15px;
  margin-right: 20px;
}

.second-btncap:hover{
  background-color:#fae5d3;
}
 
.first-btncap{
  background-color: #f39c12;
}

.nxt .right-ar{
  height: 8%;
  margin-top: 300px;
  
}
.pre .left-ar{
  height: 8%;
  margin-top: 300px;
  
}

.content-lbl {
  position: absolute; 
  bottom: 65px;
  background: rgba(0, 0, 0, .3); 
  color:  #ecf0f1 ; 
  width: 100%; 
  padding:10 15px; 
  text-align: center;
  font-size:20px;
}

.reg-btn{
  padding:10px 20px;
  font-size: 20px;
  margin: 0 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .2); 
  color: #ecf0f1 ; 
}

.about-meeting{
    padding:0;
	  margin:0; 
}

.div-about{
	width: 100%;
	color:rgb(64, 64, 64);
	display: flex;
	text-align: center;
  margin-bottom: 60px;
}

.about{
	font-size: 30px;
	text-align: center;
	color:rgb(64, 64, 64);
	margin: 50px 0;
  padding:10px 0;
}
.about-rate{
	background-color: #ecf0f1;
	padding:10px 150px;
	margin: 10px 0px; 
}

.div-aboutrate{
	width: 100%;
	color:rgb(64, 64, 64);
	display: flex;
	text-align: center;
	background-color: #ecf0f1;
	justify-content: space-around;
}

figcaption{
	margin-top: 15px;
}

.cap{
	color:rgb(64, 64, 64);
	font-size: 14px;
	margin-bottom: 20px;

}

.watchmore{
	margin-bottom: 40px;
}

.watchmore a{
  text-decoration:none;
  font-size: 14px;
  color: blue;
}

.watchmore a:hover{
	text-decoration: underline;
}

.star-class{
	width: 100px;
	margin: 20px 0;

}

.whyzoompg{
	font-size: 30px;
	color: blue;
	text-align: center;
  margin: 50px 0;
}

.whyzoom{
	margin: 60px 0;
}

.about-cust{
	text-align: center;
	margin: 100px 0;
}

.whyzoompg a{
	text-decoration: none;
	color: blue;
}

.whyzoompg a:hover{
   text-decoration: underline;
}

.crossfade{
  display: flex;
  justify-content: space-around;
  padding:30px  30px;
  margin-bottom: 40px;
}

.btn-class{
  text-align: center;
  margin: 60px 10px;
}

.first-btn{
  border-radius: 10px;
  font-size: 20px;
  padding:10px 20px;
  margin-right: 30px;
}
.first-btn a{
  text-decoration: none;
}
.first-btn:hover{
  background-color: #eb984e ;
}

.second-btn{
	padding:10px 50px;
	border-radius: 10px;
	background-color:  #f39c12;
	font-size: 20px;
}
.second-btn a{
	text-decoration: none;
}


.video-links{
  width: 100%;
  height: 700px;
  position: relative;
  margin: 0 auto;
}

.about-video{
  position: absolute;
  width:100%;
  height: 100%;
  /*padding: 30px 0;*/
  
}

.about-video img{
  width:100%;
  height: 100%;
}

.about-video .videopg{
  position: absolute;
  text-align: center;
  font-family: Arial;
  color: white;
  left:30%;
  top:45%;
  
}

.videopg > p{
  font-size: 25px;
}

.videopg img{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 40%;
}

.videopg a{
  color:#fff;
  text-decoration: none;
}
/*.videopg .btn-popup{
  padding:15px 45px;
  border:1px solid #fff;
  display: block;
}*/



.video-author{
  display:flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color:#ecf0f1;
 }

.auth-cap{
  float:right;
  padding: 0 15px;
  margin: 0;
  font-size: 15px;
  line-height: 0.8em;
  color: #626567 ;
}

footer{
	width: 100%;
	font-size: 12px;
	color:white;
	background-color: #283747 ;
	height: 500px;
}

footer a{
	display: inline-block;
	text-decoration:none;
	color: white;
}

footer ul{
    list-style-type: none;
    overflow: hidden;
    padding-right: 120px;

}

.ft-div{
	justify-content: space-around;
	display: flex;
	padding: 30px 60px;
	margin-left: 0;

}

.ft-div a:hover{
	text-decoration: underline;
}

.btn{
	padding-right: 40px;
	margin-top: 15px;
}

.btn-primary {
	margin: 5px 0;
	outline:solid grey;
	padding:5px 8px;
}

.btn:hover .btn-content{
	display: block;
	background-color: white;
    display-content:center;
}

.btn-content {
	  display: none;
	  position: absolute;
    border-style: solid grey;
    background-color: white;
    border-radius: 10px;
    border:0.1px solid grey;
    width: 150px;
}
.btn-content a{
   color:black;
   padding:5px 10px;
}

.btn-content  a:hover{
	background-color: lightblue;
	text-decoration: none;
}
.btn-content ul{
	padding-left: 0px;
}

header{
	margin-top: 20px;
	padding-left: 40px;
}

.lan{
  margin-top: 20px;
  padding-right:40px;
}
.curr{
  margin-top: 20px;
  padding-right:40px;
}

.ft-p{
	padding-left: 100px;
}

.social-icon{
  display: flex;
}

.social-icon a{
  /*background:  #99a3a4 ;*/
  margin:20px 3px;
}

.social-icon  .fac:hover{
 background-color: #3498db ;
 border-radius: 50%;
/* padding:3px 0;*/
 width: 40px;
 height: 40px;
}
.social-icon  .yout:hover{
 background-color:red;
 border-radius: 50%;
/* padding:3px 0;*/
 width: 40px;
 height: 40px;
}